<footer class="py-14 container px-6 md:px-10 xl:px-0 lg:mx-auto text-zinc-500 space-y-8">
  <div class="flex flex-col lg:flex-row space-y-4 lg:space-y-0 lg:space-x-24">
    <div class="flex flex-col">
      <span class="font-bold">Davi Brantes</span>
      <span>Full-Stack</span>
    </div>
  
    <div class="flex flex-col">
      <a class="font-bold" href="/">Home</a>
      <a class="cursor-pointer" (click)="onGetInTouchClick('projects')">Projects</a>
      <a class="cursor-pointer" (click)="onGetInTouchClick('about-me')">About Me</a>
      <a class="cursor-pointer" (click)="onGetInTouchClick('contact')">Contact</a>
    </div> 
  
  </div>
  
  <div class="space-x-2">        
    <a href="https://www.instagram.com/brantesdavi/" class="cursor-pointer">
      <fa-icon href="/" class="text-2xl cursor-pointer" [icon]="['fab', 'instagram']"></fa-icon>
    </a>
    <a href="https://www.linkedin.com/in/davi-brantes/" class="cursor-pointer">
      <fa-icon  class="text-2xl" [icon]="['fab', 'linkedin']"></fa-icon>
    </a>
    
  </div>

</footer>