<div class="px-6 lg:px-72 py-12 flex flex-col justify-center items-center space-y-8 bg-lightBlue text-zinc-100 ">
  <div class="border-2 border-zinc-100 rounded-lg lg:w-700">
    <div class="p-4">
      <h1 class="text-3xl lg:text-4xl text-start font-medium">About Me</h1>
      <div class="mt-2">
        <span class="text-lg lg:text-xl">I'm Davi Brantes—a Developer, Creator, and Problem Solver.</span>
        <p class="text-sm lg:text-base font-thin">        
          Desenvolvedor Full-stack especializado em Angular, Typescript, Javascript, 
          Java, C#, SCSS e SQL, com foco em criar aplicativos web dinâmicos e intuitivos. 
          Expert em UX/UI e habilidades em Photoshop e Figma garantem uma abordagem completa
          para projetos que equilibram funcionalidade e estética.
        </p>
      </div>
    </div>

    <div class="flex flex-col lg:flex-row space-y-0.5 lg:space-y-0 lg:space-x-0.5">
      
      <button 
        class="py-1 text-base lg:text-lg w-full bg-zinc-100 text-lightBlue"
        (click)="onGetResumeClick()">
      Resume (2024)</button>
      <button 
        class="py-1 text-base lg:text-lg w-full bg-zinc-100 text-lightBlue"
        (click)="onGetInTouchClick()">Get in Touch</button>
    </div>
  </div>

</div>
