<div class=" pt-12 pb-6 flex justify-center w-full">
  <div class="space-y-6 container px-6 md:px-10 xl:px-0 container md:mx-auto flex flex-col">
    <div>
      <h1 class="text-3xl lg:text-4xl font-medium text-zinc-900 text-start">Lets chat</h1>
      <div class="text-sm md:text-base">
        "None of us is as good as all of us together."
        <span class="text-zinc-600">- C.S. Lewis</span>
      </div>
    </div>
    <form class="grid grid-cols-1 gap-2 lg:gap-4">
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-2 lg:gap-4 w-full">
        <div class="w-full">
          <label for="name">Name*</label>
          <input type="text" class="w-full p-2 border border-zinc-300 rounded">
        </div>

        <div class="w-full">
          <label for="name">Phone number</label>
          <input type="number" class="w-full p-2 border border-zinc-300 rounded">
        </div>       
      </div>

      <label for="name">Email*</label>
      <input type="text" class="w-full p-2 border border-zinc-300 rounded">

      <label for="name">Message*</label>
      <textarea rows="3" class="w-full p-2 border border-zinc-300 rounded"></textarea>

      <div class="flex mt-2">
        <button class="bg-lightBlue text-zinc-100 text-xl px-16 py-2">Submit</button>
      </div>
    </form>
  </div>
</div>
